body {
  text-align: center;
  background-color: #f5f5f5;
}

.card {
  /* text-align: left; */
  width: 20%;
  min-width: 300px;
  max-width: 500px;
  margin: 20px auto;
  padding: 15px 10px 10px 10px;
  background-color: #ffffff;
}

.list {
  padding-bottom: 0px !important;
  font-size: 8px;
}

.form {
  width: 300px;
  margin: 0 auto 5px auto;
  /* margin-left: 50px; */
}

.task-text {
  margin-left: -20px;
}
.task-text.checked{
  text-decoration: line-through !important;
}

.MuiListItemText-primary{
  font-size: 1rem !important;
  /* font-weight: 600 !important; */
}
.title {
  color: #B0B0B0;
  margin-top: 20px !important;
  /* font-weight: 600 !important; */
  font-size: 1.2rem !important;
}
.credits {
  color: #B0B0B0;
}